.about{   
    flex-wrap: wrap;
    padding: 2em;
}

.about-title{
    color: var(--color-dark-gray);
    font-family: var(font-second);
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-align: center;
}

.about-text{
    margin-bottom: 1em;
}

.about-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-image{
    display: none;
}

@media screen and (min-width: 1024px){
    .about-list{
        border-top: 1px solid var(--color-grey-medium);
        margin-right: 2em;
        padding-top: 1.5em;
    }

    .about-image{
        display: flex;
    }

    .about{
        display: flex;
        flex-wrap: nowrap;
    }
}